.tags {
    color: #ffd700;
    opacity: 0.6;
    position: absolute;
    bottom: 0;
    left: 120px;
    font-size: 18px;
    font-family: 'La Belle Aurore';
    width: 200px;
    margin-left: 50px;
}

.p {
    width: 200px;
    margin-right: 150px;
    position: relative;
    right: 100px;
}

h1 {
    font-size: 53px;
    font-family: 'Coolvetica';
    color: #ffd700;
    font-weight: 400;
    margin-top: 0;
    right:  500px; // Updated value
    top: 30px;
}

.about-page {
    .text-zone {
        position: absolute;
    }
}