.tags {
  color: #ffd700;
  opacity: 0.6;
  position: absolute;
  bottom: 0;
  left: 120px;
  font-size: 18px;
  font-family: 'La Belle Aurore';
  width: 200px;
}

//this is for the about me paragraph
p {
  display: flex;
  justify-content: center;
  align-items: center; /* Added to vertically center the content */
  width: 70vw; /* Changed width to 70% of the viewport width */
  margin-left: 95px;
  border-left: 2px solid black; /* Added border on the left side */
  font-style: 13px;
  font-size: 15px;
  color: #fff;
  font-family: sans-serif;
  font-weight: 300;
  min-width: fit-content;
  animation: pulse 1s;


  &:nth-of-type(1) {
    animation-delay: 1.1s;
  }
  &:nth-of-type(2) {
    animation-delay: 1.2s;
  }
  &:nth-of-type(3) {
    animation-delay: 1.3s;
  }
}

q {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 60vw; /* Changed from vm to vw (viewport width) */
  margin-left: 85px;
  font-size: 20px; /* Changed from font-style to font-size */
  color: #fff;
  font-family: sans-serif;
  font-weight: 300;
  min-width: fit-content;
  animation: pulse 1s;
}

h1 {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 70vw;
  font-size: 53px;
  font-family: 'Coolvetica';
  color: #ffd700;
  font-weight: 400;
  margin-top: 0;
  margin-left: 90;
  border-left: 2px solid black;
}




/* Explanation of styles for the .cubespinner class */
.cubespinner {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  flex-direction: column;
  margin-left: 30%;
  margin-right: auto;
}
